:root {
    --primary-white-color: #ffffff;
    --secondary-white-color: #F4F4FD;
    --primary-black-color: #2E2F42;
    --secondary-black-color: #434455;
    --primary-brand-color: #4D5AE5;
    --secondary-brand-color: #404BBF;
    --primary-accent-color: #E7E9FC;
    --font-family: "Roboto", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
    color: var(--secondary-black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    max-width: 1440px;
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 156px;
    margin: 0 auto;
    border: 1px solid var(--primary-accent-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    word-spacing: 0;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
} 

.footer .logo-span{
    color: var(--secondary-white-color);
}

.logo-span {
    color: var(--primary-black-color);
}

.nav .logo {
    margin-right: 76px;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--primary-black-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
    position: relative;
    color: var(--secondary-brand-color);
    outline: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--secondary-brand-color);
    left: 0;
    bottom: -20px;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: var(--secondary-black-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
    position: relative;
    color: var(--secondary-brand-color);
}

.hero-section {
    background-color: var(--primary-black-color);
    padding: 188px 0;
}


.main-title {
    width: 496px;
    font-family: var(--font-family);
    color: var(--primary-white-color);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.action-button {
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--primary-white-color);
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
}

.action-button:hover,
.action-button:focus {
    background-color: var(--secondary-brand-color);
}

.section {
    padding: 120px 0;
}

.team-section {
    background-color: var(--secondary-white-color);
}

.pt0 {
    padding-top: 0;
}

.pt96 {
    padding-top: 96px;
}

.content-list {
    width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.principles-item {
    width: 264px;
}

.sub-title {
    color: var(--primary-black-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin: 0;
    margin-bottom: 8px;
}

.title {
    color: var(--primary-black-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
}

.text {
    color: var(--secondary-black-color);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
}

.team-item {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-white-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    overflow: hidden;
    padding-bottom: 32px;
}

.team-item img {
    margin-bottom: 32px;
}

.footer {
    padding: 100px 156px;
    background-color: var(--primary-black-color);
}

.footer .text {
    color: var(--secondary-white-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.filters-list {
    width: 568px;
    margin: 0 auto;
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
}

.filters-button {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--primary-accent-color);
    background-color: var(--secondary-white-color);
    color: var(--primary-brand-color);
    text-align: center;
    white-space: nowrap;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.filters-button:hover,
.filters-button:focus {
    color: var(--primary-white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--secondary-brand-color);
    background-color: var(--secondary-brand-color);
}

.goods-link {
    overflow: hidden;
    position: relative;
    width: 360px;
    display: block;
    border: 1px solid var(--primary-accent-color);
    background-color: var(--primary-white-color);
    padding-bottom: 32px;
}

.goods-link-info {
    padding: 40px 32px;
    margin: 0;
    width: 360px;
    height: 300px;
    color: var(--secondary-white-color);
    background: var(--primary-brand-color);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    position: absolute;
    top: -100%;
    left: 0;
}

.goods-link:hover,
.goods-link:focus {
    border: 1px solid var(--secondary-white-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.goods-link:hover .goods-link-info,
.goods-link:focus .goods-link-info{
    top: 0;
    /* transition: top 0.3s ease-in-out; */
}

.goods-link img {
    margin-bottom: 32px;
}

.goods-link .text,
.goods-link .sub-title {
    padding: 0 16px;
}
